<footer class="footer">
  <div class="container is-footer">
    <a
      href="./index.html"
      class="main-logo is-footer"
      aria-label="workit home page"
    >
      <svg width="96" height="25">
        <use href="./img/icons.svg#logo"></use>
      </svg>
    </a>
    <ul class="social-list">
      <li class="social-list-item">
        <a href="wwww.facebook.com" class="social-link">
          <svg class="social-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-list-item">
        <a href="www.x.com" class="social-link">
          <svg class="social-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social-list-item">
        <a href="www.instagram.com" class="social-link">
          <svg class="social-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
