<section class="section-cta">
  <div class="container is-cta">
    <picture class="cta-picture">
      <!-- Mobile -->
      <source
        type="image/webp"
        srcset="./img/founder-mob.webp, ./img/founder-mob@2x.webp 2x"
        media="(min-width: 320px) and (max-width: 1280px)"
      />
      <source
        type="image/png"
        srcset="./img/founder-mob.png, ./img/founder-mob@2x.png 2x"
        media="(min-width: 320px) and (max-width: 1280px)"
      />
      <!-- Desktop -->
      <source
        type="image/webp"
        srcset="./img/founder-desktop.webp, ./img/founder-desktop@2x.webp 2x"
        media="(min-width: 1280px)"
        width="477"
        height="477"
      />
      <source
        type="image/png"
        srcset="./img/founder-desktop.png, ./img/founder-desktop@2x.png 2x"
        media="(min-width: 1280px)"
        width="477"
        height="477"
      />
      <img
        class="cta-image"
        src="./img/founder-mob.png"
        alt="Man smilling"
        width="281"
        height="281"
      />
    </picture>
    <div class="cta-content">
      <h2 class="cta-title">Be the first to test</h2>
      <p class="cta-text">
        Hi, I'm Louis Graham, the founder of the company. Book a demo call with
        me to become a beta tester for our app and kickstart your company. Apply
        for access below and I’ll be in touch to schedule a call.
      </p>
      <button class="button" type="button">Apply for access</button>
      <img
        class="cta-decor"
        src="./img/cta-decor.svg"
        alt="decoration"
        width="171"
        height="137"
      />
    </div>
  </div>
</section>
