<section class="section-features">
  <div class="container">
    <h2 class="visually-hidden">features section</h2>
    <ul class="features-list">
      <li class="features-item">
        <div class="features-number">1</div>
        <div class="features-text-wrap">
          <h3 class="features-item-heading">Actionable insights</h3>
          <p class="features-text">
            Optimize your products, improve customer satisfaction and stay ahead
            of the competition with our product data analytics.
          </p>
        </div>
      </li>
      <li class="features-item">
        <div class="features-number">2</div>
        <div class="features-text-wrap">
          <h3 class="features-item-heading">Data-driven decisions</h3>
          <p class="features-text">
            Make data-driven decisions with our product data analytics. Our
            AI-generated reports help you unlock insights hidden in your product
            data.
          </p>
        </div>
      </li>
      <li class="features-item">
        <div class="features-number">3</div>
        <div class="features-text-wrap">
          <h3 class="features-item-heading">Always affordable</h3>
          <p class="features-text">
            Always affordable pricing that scales with your business. Get
            top-quality product data analytics services without hidden costs or
            unexpected fees.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
